<!DOCTYPE html>
<html lang="en">
  <head>
    <%= require('html-loader!./partials/header.html') %>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div class="wrapper">
      <%= require('html-loader!./partials/navigation.html') %> <%=
      require('html-loader!./partials/quotes.html') %> <% about.forEach((data)=>
      { %>
      <div
        class="text-center py-3 mt-3 container"
        style="color: #ffffff; background-color: #8a2be2; font-size: 1.5rem"
      >
        <%= data.title %>
      </div>

      <div class="row container mx-auto my-3">
        <div
          class="col-xl-12 p-3"
          style="
            font-size: 1.2rem;
            background-color: white;
            color: #838383;
            text-align: justify;
            border-radius: 10px;
          "
        >
          <%= data.content %>
        </div>
      </div>
      <%});%> <%= require('html-loader!./partials/footer.html') %>
    </div>
  </body>
</html>
