<div class="footer">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150">
    <path
      fill="#8A2BE2"
      fill-opacity="1"
      d="M0,128L80,122.7C160,117,320,107,480,85.3C640,64,800,32,960,21.3C1120,11,1280,21,1360,26.7L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
    ></path>
  </svg>
  <div class="d-flex text-center" style="background-color: rgb(138, 43, 226);">
    <div class="row w-100 m-auto p-3">
      <div class="col-md-4 col-12">
        Powered by
        <img class="icon ml-2" src="../../images/aws.svg" alt="" />
      </div>
      <div class="col-md-4 col-12">
        Made with <span style="color: #e97171;">&#10084;</span> by
        <b>titanCoder</b>
      </div>
      <div class="col-md-4 col-12">
        © 2019 - 2020 titancoder.com
      </div>
    </div>
  </div>
</div>
