<div class="header d-block d-sm-flex justify-content-between py-1">
	<div class="d-flex justify-content-between">
		<div class="py-2 px-4 my-auto brand d-flex">
			<img
				style="height: 30px; margin: auto;"
				src="../../images/tc4.svg"
				alt=""
			/>
		</div>
		<div id="toggle_menu" class="px-3 d-sm-none my-auto" onclick="">
			<i class="fa fa-bars" style="color: whitesmoke; cursor: pointer;"></i>
		</div>
	</div>

	<ul id="nav_menu" class="d-sm-flex my-auto px-3 text-center">
		<li class="py-sm-0 p-3 my-auto">
			<a class="navv active" href="/">Home</a>
		</li>
		<li class="py-sm-0 p-3 my-auto">
			<a class="navv" href="about.html">About Me</a>
		</li>
		<li class="py-sm-0 p-3 my-auto">
			<a class="navv" href="projects.html">Projects</a>
		</li>
		<li class="py-sm-0 p-3 my-auto">
			<a class="navv" href="tutorials.html">Tutorials</a>
		</li>
		<li class="py-sm-0 p-3 my-auto">
			<a class="navv" href="contact.html">Contact</a>
		</li>
		<li class="py-sm-0 p-3 my-auto">
			<a href="https://github.com/titancoder" target="_blank"
				><img src="../../images/github.svg" alt=""
			/></a>
		</li>
	</ul>
</div>
