<div class="content">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#8A2BE2"
      fill-opacity="1"
      d="M0,288L80,277.3C160,267,320,245,480,229.3C640,213,800,203,960,218.7C1120,235,1280,277,1360,298.7L1440,320L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
    ></path>
  </svg>

  <div id="quotes">
    <span style="position: absolute; left: 0; top: 0; display: none;"
      ><i>
        " Everybody should learn how to program a computer, because it teaches
        you how to think "</i
      >
      - Steve Jobs</span
    >
    <span style="position: absolute; left: 0; top: 0; display: none;"
      ><i
        >" I'm not a great programmer; I'm just a good programmer with great
        habits "</i
      >
      - Kent Beck</span
    >
    <span style="position: absolute; left: 0; top: 0; display: none;"
      ><i
        >" The most important property of a program is whether it accomplishes
        the intention of its user "</i
      >
      - C.A.R.Hoare</span
    >
  </div>
  <div id="web__developer">
    Web Developer.
  </div>
</div>
